<div>
  <div class="btn btn-primary" ng-click="addTextWidget(textSettings)">Přidá textový widget</div>
  <div class="btn btn-primary" ng-click="addGraphWidget(graphSettings)">Přidá graf</div>
  <div class="btn btn-primary" ng-click="addClockWidget(clockSettings)">Přidá hodiny</div>
  <div>
    <div id="content">
      <div ng-repeat="widget in widgets">
        <div ng-switch="widget.type">
          <div ng-switch-when="pieNg">
            <widget-base dbw-title="{{widget.settings.tittle}}"><pie-ng  relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="simpleText">
            <widget-base dbw-title="{{widget.settings.tittle}}"><widget-simple-text dbw-text="{{widget.settings.text}}" dbw-escape-html="{{widget.settings.escapeHtml}}" /></widget-base>
          </div>
          <div ng-switch-when="graph">
            <widget-base dbw-title="{{widget.settings.tittle}}"><graph-example relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="csschart">
            <widget-base dbw-title="{{widget.settings.tittle}}"><csschart  relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="barchartJQ">
            <widget-base dbw-title="{{widget.settings.tittle}}"><barchart-jq  relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="barchartNg">
            <widget-base dbw-title="{{widget.settings.tittle}}"><barchart-ng  relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="barchartReact">
            <widget-base dbw-title="{{widget.settings.tittle}}">
              <barchart-react  fname="{{widget.settings.tittle}}" lname="{{widget.settings.tittle}}" relative-url="{{widget.settings.relativeUrl}}"  watch-depth="reference" />
            </widget-base>
          </div>
          <div ng-switch-when="linechart">
            <widget-base dbw-title="{{widget.settings.tittle}}"><linechart  relative-url="{{widget.settings.relativeUrl}}" /></widget-base>
          </div>
          <div ng-switch-when="linechart-ang">
            <widget-base dbw-title="{{widget.settings.tittle}}">
              <linechart-ng relative-url="{{widget.settings.relativeUrl}}">
                <canvas linechart-ng-canvas relative-url="{{widget.settings.relativeUrl}}"></canvas>
              </linechart-ng>
            </widget-base>
          </div>
          <div ng-switch-when="clock">
            <widget-base dbw-title="{{widget.settings.tittle}}"><widget-clock format="{{widget.settings.format}}" /></widget-base>
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
