.hightchart .form-control {
    display: inline-block;
    width: auto;
}
.hightchart .top-menu{
    margin-bottom: 5px;
}

.hightchart .btn-group-wrap{
    text-align: center;
}

.hightchart .btn-group-wrap .btn-sm{
    padding: 1px 5px;
}