.chart.pie svg{width:100%;height:100%;}

.chart.pie {
  width: 200px;
  height: 200px;
}

.chart.pie svg text{
  text-anchor: middle;
  fill:white;
  stroke-width:0;
  transform:translate(120,-80);
}
.chart.pie svg path:hover{
  stroke-width:10px;
}

.charts-tip{
  display:block;
  position: absolute;
  font-size: 16px;
  color: #FFF;
  background: rgba(0,0,0,0.8);
  pointer-events: none;
  font-family:sans-serif;
  padding:6px 12px;
  z-index:100;
  width:auto;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

.chart.pie .pie-legend{
  position:absolute;
  top:50%;
  right:0;
  margin-right:-30px;
  transform:translateX(100%) translateY(-50%);
}

.chart.pie .pie-legend li{
  display:block;
  margin-bottom:14px;
  clear:both;
}

.chart.pie .pie-legend li i{
  top:1px;
  position:relative;
  display:block;
  float:left;
  width:14px;
  height:14px;
  background:#DDD;
  margin-right:10px;

  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2);
}

.chart.pie .pie-legend li p{clear:both;display:inline;}
